.collection {
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px; 
}

.collection-item {
    font-family: 'Assistant';
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 22px;
    padding-right: 5vh;     
}

.gradient-45deg-deep-purple-blue
{
      background: #6200ea;
      background: -webkit-linear-gradient(45deg, #6200ea, #1976d2) !important;
      background: -moz- oldlinear-gradient(45deg, #6200ea, #1976d2) !important;
      background:      -o-linear-gradient(45deg, #6200ea, #1976d2) !important;
      background:         linear-gradient(45deg, #6200ea, #1976d2) !important;
}

.active {
    background: #fff;
    color: #6200ea;
}

.devices {  
    overflow-y: scroll;
    height: 80vh;
    margin: 0vh;    
}

.preloader {
    height: 80vh;
    margin: 0vh;  
}

.label {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    padding-left: 5%;
    margin-top: 1%;
    margin-bottom: 0%;
}