.card {  
    overflow-x: hidden;
    overflow-y: hidden;
    height: 87vh;
    margin-top: 0vh;            
}

.lblch {
    font-size: 14px;
}

.input-field {
    margin-left: 10%;
}

.btninfo {
    margin-top: 15px;
    margin-bottom: 15px;
}

.prevtests {
    margin-top: 15px;
    margin-bottom: 15px;
}

.choose {
    margin-top: 2%;
    margin-bottom: 0%;
    min-height: 10vh;
}

.tests {
    min-height: 52vh;    
}

.table {
    margin-bottom: 1%;
}

.coretable{
    height: 52vh;
}

.summary {
    min-height: 25vh;
}

.proceed {
    position: absolute;
    bottom: calc(7vh);
    right: calc(10vh);
}

.lblcount {
    margin-top: 0%;
    margin-left: 5%;
}

.lbltime{
    margin-top: 0%;
    margin-left: 5%;
}