header{
    background: url(images/miem.jpg);
    background-size: cover;
    background-position: center;
    min-height: 800px;
  }
@media screen and (max-width: 670px)
{
    header{
      min-height: 500px;
    }
  }